<%=render 'layouts/elyts'%>
<%=render 'layouts/main_navbar'%>

<div class="row-fluid">
	<div class="outer_shadow span12">
		<div class="inner_shadow span12 cico">
        	<%logger.info params%>
        	<!-- Nuovo utente, intestazione -->
            <div class="row-fluid"> 
	            
 	       		 <h1 class="heading_login"><%=t("sessions.new.heading")%></h1>
 	              	
	         </div>	
		     <hr class="h_cool_line" />
		     
		     <!-- Flash messages -->
    		<div class="row-fluid">
      			<div class="span12" id="flash_message_zone">
        			<%=render 'shared/flash_messages'%>
      			</div>
    		</div>
		    
		     <!-- 
		     	  In this zone we'll put a form for user login 
		     	  Per creare l'effetto dello spazzamento centrato
		     	  utilizzo uno span a sinistra un al centro, e uno a
		     	  destra, visto che l'attributo offset sembra non funzionare
		     	  con un layout fluido.
		     	  
		     	-->
		     <div class="row-fluid">
		       
		     	<!--User form -->
		        <div class="span4">
		        	<div>
		        		<%=image_tag('login.png')%>
		        	</div> 
		        </div>
		        
		        <div class="span4">
		            <div>
		              <%=render 'form'%>
		            </div> 
		        </div> 
		        
		         <div class="span4">
		        	<div>	&nbsp; </div> 
		        </div>
		         
		         
		     </div>    
		    <hr class="h_cool_line" /> 
		
		
		</div> 
	</div>
</div>