<div class="row-fluid">
	
	<div class="span12">
	
    	<ul class="nav nav-pills" id="admin_navbar">
    		<li><%=link_to t("admin_navbar.home"),admin_root_path%></li>
    		<li><%=link_to t("admin_navbar.orders"),'#'%></li>
    		<li><%=link_to t("admin_navbar.products"),admin_products_path%></li>
    		<li><%=link_to t("admin_navbar.collections"),'#'%></li>
    		<li><%=link_to t("admin_navbar.navigation"),'#'%></li>
    		<li><%=link_to t("admin_navbar.promotions"),'#'%></li>
   		</ul>
	
	   
	 </div>

</div>