<%=render 'layouts/admin_header'%>


<div class="row-fluid">
	<div class="outer_shadow span12">
		<div class="inner_shadow span12 cico">
	        
	        <!--index heading -->
	        <div class="row-fluid"> 
	          <h1><%=t("admin.products.index.title")%></h1>
	        </div>	
		    
		    <hr class="h_cool_line" />
		    
		   
		    <!-- Command buttons --> 
		     <div class="row-fluid">
            	<div class="span12">
                	<div class="buttons_group">
    		        	<%=link_to t("admin.products.index.add"),
    		        	new_admin_product_path,
    		        	class:"btn btn-primary"%>
    	                
    	                <%=link_to t("admin.products.index.import"),'#',class:"btn btn-primary"%>
    	               
    		            <%=link_to t("admin.products.index.export"),'#',class:"btn btn-primary"%>
    		            
                    
                    </div>	    
       	
            	</div>         
            </div>
		    
		    <hr class="h_cool_line" /> 
		    
		   <%= render @products %> <!--Per ogni prodotto presenta il template admin/products/product.html.erb -->
		  
		</div>
    </div>
</div>
        
