<%= form_tag( admin_users_path, method: :post ) do %>
  
  <% if @utente.errors.messages[:name] %>
  	<div class="field_with_errors">
  <%else%><div><%end%>	 
  <%= label_tag('utenti[name]',t("utenti.new.utente_name")) %>
  </div>
  <span><%=t('utenti.new.utente_examples')%></span>  
    
  <% if @utente.errors.messages[:name]%>
    <div class="field_with_errors">
  <%else%><div><%end%>
  <%=text_field_tag('utenti[name]',nil,value: @utente.name)%>
  </div>
   
  
  <% if @utente.errors.messages[:email] %>
    <div class="field_with_errors">
  <%else%><div><%end%>
  <%=label_tag( 'utenti[email]', t("utenti.new.utente_email") )%>
  </div>  
  
  <% if @utente.errors.messages[:email]%>
    <div class="field_with_errors">
  <%else%><div><%end%>
  <%=email_field_tag('utenti[email]',nil,value: @utente.email)%>
  </div>

  

  <%if @utente.errors.messages[:password]%>
    <div class="field_with_errors">
  <%else%><div><%end%>	
  <%=label_tag('utenti[password]',t("utenti.new.utente_password"))%>
  </div>  
  
  <%if @utente.errors.messages[:password]%>
    <div class="field_with_errors">
  <%else%><div><%end%>
  <%=password_field_tag('utenti[password]',nil,value:@utente.password)%>
  </div>

  <%unless (@utente.password == @utente.password_confirmation) %>
    <div class="field_with_errors">
  <%else%><div><%end%>	
  <%=label_tag('utenti[password_confirmation]',t("utenti.new.utente_password_confirmation"))%>
  </div>  
  
  <%unless (@utente.password == @utente.password_confirmation)  %>
    <div class="field_with_errors">
  <%else%><div><%end%>
  <%=password_field_tag('utenti[password_confirmation]')%>
  </div>

  <div class="check_box">
    
    <%=check_box_tag("utenti[admin]","yes",false)%>
    <%=label_tag("utenti[admin]",t("admin.users.new.administrator_user"))%> 
  
  </div>

  <div>
 
    <%=submit_tag( t("admin.users.new.submit"), :class=>"btn btn-primary btn-large" ) %>
   
  </div> 


<%end%>