<%=javascript_tag do %>
                    
  window.products = "<%= @products.length %>"

<%end%>    

<% iterator = StoreHelper::ProductsIterator.new(@products) %>

<% while iterator.has_next? 
     products = iterator.next %>
  
  <!-- 
  	   Visualizzo immagine, titolo, descrizione breve , prezzo
  	   Ogni riga ha <= 3 prodotti. In ciascuno spazio relativo al prodotto
  	   metto posizionato in maniera relativa al box del prodotto, un piccolo
  	   riquadro con il prezzo. Poi in una riga sotto il titolo e la descrizione
  	   breve...
  	    
  	-->           
   
        <div class="row-fluid">
        	
        	<% products.each do |product| %> 
            	<!-- Product's data -->  
            	<div class="span4">
                	
                	<!-- Row for image and price -->
                	<div class="row-fluid">
                		
       	        		<div class="row-fluid image_price">
       	  
       	            		<div class="product_image">
       	                	   
       	                		<% if product.assets.any? %>
       	                			<%=image_tag product.assets.first.image(:medium)%>
       	            		    <%else%>
       	            		      <%=image_tag 'medium/missing.png'%>
       	            		    <%end%>
       	            		
       	            		</div>
       	            
       	             		<div class="product_price metalic">
                        		<%=number_to_currency(product.price)%>
                 	 		</div>    
       	  
       	        		</div>
       	  
            	 	</div> 
                    
                    <!-- Row for title and brief description -->
                    <br />
                    <div class="row-fluid">
                		
       	        		<div class="product_title">
       	        	      <%=link_to(product.title,store_path(product.id))%>            		
       	        		</div>
       	              
       	                <div class="product_description_small">
       	        	      <%= sanitize( brief( product.description ) )%>            		
       	        		</div>
       	                
       	                
       	                
            	 	</div> 
                
                </div> 
            <%end%>
            
        </div>
        <hr class="h_cool_line" />
<%end%>
