<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
         	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            	<span class="icon-eye-open icon-white">
            </a>
        
            <%=link_to t("brand"),root_path,:class=>"brand"%>
            <div class="nav-collapse">
            	
            	<ul class="nav">
                	<li class="active"><%=link_to t('store_link'),store_index_path%></li>
                    <% admins_only do  %> <!--See application helper -->
                      <li class="active"><%=link_to t('admin_store_link'),admin_products_path%></li>   
                    <%end%>
                </ul>
                
                <ul class="nav pull-right"> 
               		
               		<li class="active"><%=link_to t('support'),'#'%></li>
                    <li><%=link_to t('account'),'#'%></li>
                    <%if logged_in? %>
                      <li><%=link_to t('logout'), session_path('remove_session'), method:'delete' %></li>
                    <%end%>
                </ul> 
              
                <%=form_tag search_store_index_path,    :method =>'get', 
                                                        :id     =>'search_product',
                                                        :class  =>"navbar-search pull-right" do %>
                
                     <%= text_field_tag :search_product,nil,
                                        :placeholder=>'Search',
                                        :class=>"search-query" %>
                   
                  <%end%>
                 
              
                <p class="icon-search icon-white pull-right"></p> 
                <p class="divider-vertical pull-right"></p>
                <%if logged_in? %>
                  <p class="navbar-text pull-right"><%=t("logged_in")%> <%=link_to current_user.email,"#"%></p>
                <%end%>
                 
            </div> <!-- Nav collapse-->        
        
        </div>
    
    </div>
</div>
